@import url('https://fonts.googleapis.com/css?family=Didact+Gothic|IBM+Plex+Mono|Poppins');

/* Universal */
* {
  font-family: 'Didact Gothic';
}


body {
  padding: 12px;
  margin: 0;
}
h2 {
  font-family: 'IBM Plex Mono', monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(65, 89, 246, 1);
  font-size: 20px;
  width: 100%;
  /* margin-bottom: 20px; */
}

p {
  font-size: 1.1rem;
}

/* Header */
.header{
  min-height: 80vh;
  padding: 5%;
  background: linear-gradient(-45deg, #0082c8, #4159F6, #23A6D5);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



@-webkit-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Gradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}



#name {
  font-size: 2.5rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 4px;
}

#bio{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 2rem;
  margin-right: 25%;
  color: rgba(255,255,255,0.6);
}

.social-icons {
  font-size: 24px;
}

.social-icons i {
  padding-right: 2.5%;
  color: white;
}

.social-icons i:hover {
  color: rgba(255,255,255,0.6)
}

.header-options {
  display: flex;
}

.header-options > h3 {
  color: #4159F6;
  margin-right: 2.5%;
  padding: 1%;
  border: 2px solid #4159F6;
  border-radius: 10px;
  font-size: 12px;
}

.typewrite {
  color: rgba(255,255,255);
  text-decoration: none;
}

.resume{
  padding-bottom: 3%;
}

.resume a{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.5rem;
  color: white;
}

.resume a:hover {
  color: rgba(255,255,255,0.6);
}

/* Container */
.container {
  margin: 5%;
  background-color: white;
}

/* Main */
.blog, .skills, .projects, .experience, .education {
  padding-bottom: 5%;
  margin-left: 5%;
}


/* Project */
.projects {
  display: flex;
  flex-direction: column;
  margin-right: 5%
}

.projects > div:first-child {
  margin-top: 5px;
}

div.project-container{
  margin-bottom: 2%;
}

.projects > #p3 {
  margin-bottom: 0%;
}

.project-container {
  margin: 20px 0;
}

.project-header {
  display: flex;
  align-items: baseline;
}

.title {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bolder;
  color: rgba(65, 89, 246, 1);
  font-size: 1.1rem;
}

.frameworks {
  font-family: 'IBM Plex Mono', monospace;
  text-decoration: none;
  padding-left: 15px;
  color: #a8a8a8;
  font-size: .85rem !important;
  font-weight: bolder;
  display: flex;
  flex-direction: row;
}

.frameworks > p{
  margin-bottom: 0px;
  margin-right: 10px;
  font-size: 14px;
}

.project-header > div > a:hover {
  color: rgba(65, 89, 246, 1);
}

p.description {
  margin: 0px 0px 15px 0px;
}

.softwares {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: flex-start;
}

.softwares > div {
  font-family: 'IBM Plex Mono', monospace;
  border: 1px solid rgba(65, 89, 246, 1);
  border-radius: 16px;
  color: rgba(65, 89, 246, 1);
  padding: 0px 20px;
  height: 32px;
  font-size: 0.85rem;
  position: relative;
  text-align: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 15px;
}

.softwares > div > a{
  text-decoration: none;
  color: rgba(65, 89, 246, 1);
}

.softwares > div > a:hover{
  text-decoration: none;
  color: #a8a8a8;
}

/* Blog Posts */
.blog-posts {
  margin-bottom: 1%;
  font-size: 18px;
}

.blog :last-child {
  margin-bottom: 0%;
}

.blog-posts > span {
  font-weight: bolder;

}

.blog-posts > a {
  text-decoration: none;
  margin-left: 1.5%;
  color: #a8a8a8;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bold;
}

.blog-posts > a:hover {
  color: rgba(65, 89, 246, 1);
}

/* Skills */
.skills {
  display: flex;
}

.skills > div {
  width: 20%;
  margin-right: 5%;
}

.skill-type, .school-name {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bolder;
  color: rgba(65, 89, 246, 1);
  font-size: 1.1rem;
}

/* Education  */
.education {
  display: flex;
  justify-content: space-around;
}

.date-time, .work-time {
  font-weight: bolder;
}

/* Work */
.experience {
  margin-right: 5%
}

.experience > div {
  margin: 45px 0;
}

.experience > #p3 {
  margin-bottom: 0%;
}

.work-name a{
  color: #a8a8a8;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: bolder;
  text-decoration: none;
  font-size: 1.1rem;
}

.work-name a:hover{
  color: rgba(65, 89, 246, 1);
}


.mobile-skills {
  display: none;
}


/* Footer */

footer {
  background: linear-gradient(-45deg, #0082c8, #4159F6, #23A6D5);
  background-size: 400% 400%;
  color: white;
  text-align: center;
  padding: 24px;
}

.footer-text {
  color: rgba(255,255,255,0.7);
}

.footer-icons {
  font-size: 20px;
  margin-bottom: 12px;
}

.footer-icons i {
  padding: 0 1%;
  color: white;
}

.footer-icons i:hover {
  color: #a8a8a8
}

/* Mobile  */
@media only screen and (max-width: 700px) {

  #name {
    font-size: 2rem
  }

  #bio {
    font-size: 1.5rem;
    margin-right: 10%;
  }

  .resume a{
    font-size: 1.25rem;
  }

  .project-container {
    margin-bottom: -10px;
  }

  span.project-header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 0px
  }
  span.project-header > div{
    font-size: 0.9rem !important;
    font-weight: 800px;
  }

  div.frameworks{
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
  }

  .frameworks > p{
    font-size: 12px;
    margin: 0px 5px 0px 0px;
  }

  p.description {
    margin-top: 0px;
    font-size: 14px;
    margin-bottom: 5px;
  }

  .softwares {
    width: 100%;
    flex-wrap: wrap;
  }

  .softwares > div {
    border: 1px solid rgba(65, 89, 246, 1);
    padding: 5px 10px;
    margin-top: 5px;
    height: 10px;
    font-size: 0.5rem;
    position: relative;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 10px;
  }

  div.blog-posts {
    font-size: 14px;
  }

  .skills {
    display: none;
  }


  .mobile-skills {
    display: block;
    padding-bottom: 5%;
    margin-left: 5%;
    font-size: 14px;
  }

  .mobile-skill-type {
    font-family: 'IBM Plex Mono', monospace;
    color: rgba(65, 89, 246, 1);
    font-weight: bolder;
    font-size: 13px;
  }





}
